<?xml version="1.0"?>

<configuration>
  
    <appSettings/>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customUfErrors> section enables configuration 
            of what to do if/when an unhandled UfError occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html UfError pages 
            to be displayed in place of a UfError stack trace.

        <customUfErrors mode="RemoteOnly" defaultRedirect="GenericUfErrorPage.htm">
            <UfError statusCode="403" redirect="NoAccess.htm" />
            <UfError statusCode="404" redirect="FileNotFound.htm" />
        </customUfErrors>
        -->
    </system.web>
</configuration>
